/* MOBILE FIRST STYLESHEET */
/* root settings */
:root{
    --main-bg-color:rgb(33, 231, 165);
    --secondary-bg-color:rgb(41, 248, 179);
}
/*--------For All---------*/
body,*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--secondary-bg-color);
}
/*---------Navbar----------*/

nav{
    position: relative;
    background-color: var(--main-bg-color);
}

#hamburger{
    cursor: pointer;
}
.brand-logo{
    float: right;
    text-transform: uppercase;
}
#hamburger,.brand-logo{
    margin: 5px;
    font-size: 30px;
    display: inline-block;
}
.nav-links{
    width: 100%;
    height: 0;
    background-color: var(--secondary-bg-color);
    overflow: hidden;
    transition: height .3s linear;
    position: absolute;
    z-index: 1;
}
.height180px{
    height: 180px;
    transition: height .3s linear;
}
.nav-links ul{
    display: flex;
    flex-direction: column;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    padding: 13px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.nav-links a:hover{
    background-color: rgb(231, 173, 139);
}
@media screen and (min-width:768px){
    .nav-links{
        height: auto;
        overflow: hidden;
        width: fit-content;
        position: static;
        background-color: var(--main-bg-color);
        margin-left: auto;
    }
    .nav-links a{
        padding: 5px;
        margin: 10px;
        border: none;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        transition: border .3s;
    }
    .nav-links a:hover{
        border-bottom: 2px solid rgba(0, 0, 0, 0.9);
        background-color: unset;
    }

    .nav-links li{
        margin: 0 10px;
    }
    #hamburger{
        display: none;
    }
    .brand-logo{
        float: left;
    }
    .nav-links ul{
        flex-direction: row;
    }
}

/* --------Profile----------*/
#profile-wrapper{
    height: 60vh;
    position: relative;
    background-color: unset;
}
.profile-bg{
    background-image: url('../images/profile-bg.jpg') ;
    background-size: cover;    
    filter: brightness(.4);
    height: 100%;
}
#profile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#name{
    color: var(--main-bg-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 15px;
    border: 1.5px solid var(--secondary-bg-color);
    display: inline-block;
}

#tagline{
    text-transform: uppercase;
    color: skyblue;
    font-size: 1rem;
    text-align: center;
    margin-top: .1rem;
}
@media screen and (min-width:768px){
    #profile-wrapper{
        height: 80vh;
    }
    #name{
        font-size: 2rem;
    }
}

/*-------Education-------*/
#education-wrapper{
    margin-top: 30px;
    text-align: center;
}
.education-card{
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    padding: 10px;
}
.education-card h3{
    margin-bottom: 15px;
}
@media screen and (min-width:768px){
    .cards-wrapper{
        display: flex;
        justify-content: space-evenly;
        height: 50vh;
        align-items: center;
    }
    .education-card{
        padding: 20px;
    }
}
/*--------horizontal line-------*/
.hr-line{
    border: 1px solid white;
}
/* ------Skills-------*/
#skills{
    text-align: center;
    position: relative;
    padding-top: 20px;
    background-color: var(--secondary-bg-color);
}
#skills h2{
    margin-bottom: 30px;
}
.skills-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(50px,55px));
    margin: 20px 15px;
}
.skills-container i{
    font-size: 3rem;
}
@media screen and (min-width:768px){
    .skills-container i{
        font-size: 6rem;
    }  
    #skills h2{
        margin-bottom: 60px;
    }
    .skills-container{
        grid-template-columns: repeat(auto-fit,minmax(150px,155px));
        gap: 30px;
    }
}
/*-------Projects--------*/
#projects{
    text-align: center;
    padding: 20px;
}
#project-cards-wrapper{
    margin-top: 20px;
}
#project-cards-wrapper .title{
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
#project-cards-wrapper .snap{
    width: 100%;
    height: 150px;
}
#project-cards-wrapper .snap img{
    width: 100%;
    height: 100%;
}
#project-cards-wrapper .description{
    margin-top: 10px;
    text-align: justify;
}
#project-cards-wrapper .project-card{
    padding: 10px;
    border: 2px solid rgba(0, 0, 0,.4);
    margin: 10px 0;
    background-color: gainsboro;
}

@media screen and (min-width:768px){
    #project-cards-wrapper{
        display: flex;
        align-items: center;
    flex-direction: column;        
    }
    #project-cards-wrapper .project-card{
        width: 60%;
    }
    #project-cards-wrapper .snap{
        height: 300px;
    }
}
/* --------Contact------*/
#contact-wrapper{
    text-align: center;
    padding: 10px;
}
#contact{
    width: 60%;
    margin: 20px auto;
    display: flex;
    padding: 10px;
    background-color: gainsboro;
    flex-direction: column;
    align-items: center;
}
#contact .profile-photo{
    width: 100px;
    height: 100px;
}
#contact .profile-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#contact ul{
    display: flex;
    margin: 10px 0;
    justify-content: space-evenly;
}
#contact li{
    list-style: none;
}
#contact li i{
    font-size: 1.5rem;
    margin: 0px 10px;
}
#contact li a{
    text-decoration: none;
}
@media screen and (min-width:768px){
    #contact{
        width: 40%;
    }
    #contact .profile-photo{
        width: 300px;
        height: 300px;
    }    
    #contact li i{
        font-size: 3rem;
        margin: 0px 10px;
    }

}