/* MOBILE FIRST STYLESHEET */
/* root settings */
:root{
    --main-bg-color:rgb(33, 231, 165);
    --secondary-bg-color:rgb(41, 248, 179);
}
/*--------For All---------*/
body,*{
    margin: 0;
    padding: 0;
}
/*---------Navbar----------*/

nav{
    position: relative;
    background-color: var(--main-bg-color);
}

#hamburger{
    cursor: pointer;
}
.brand-logo{
    float: right;
    text-transform: uppercase;
}
#hamburger,.brand-logo{
    margin: 5px;
    font-size: 30px;
    display: inline-block;
}
.nav-links{
    width: 100%;
    height: 0;
    background-color: var(--secondary-bg-color);
    overflow: hidden;
    transition: height .3s linear;
    position: absolute;
    z-index: 1;
}
.height180px{
    height: 180px;
    transition: height .3s linear;
}
.nav-links ul{
    display: flex;
    flex-direction: column;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    padding: 13px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.nav-links a:hover{
    background-color: rgb(231, 173, 139);
}
@media screen and (min-width:768px){
    .nav-links{
        height: auto;
        overflow: hidden;
        width: fit-content;
        position: static;
        background-color: var(--main-bg-color);
        margin-left: auto;
    }
    .nav-links a{
        padding: 5px;
        margin: 10px;
        border: none;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        transition: border .3s;
    }
    .nav-links a:hover{
        border-bottom: 2px solid rgba(0, 0, 0, 0.9);
        background-color: unset;
    }

    .nav-links li{
        margin: 0 10px;
    }
    #hamburger{
        display: none;
    }
    .brand-logo{
        float: left;
    }
    .nav-links ul{
        flex-direction: row;
    }
}

/* --------Profile----------*/
#profile-wrapper{
    height: 60vh;
    position: relative;
}
.profile-bg{
    background-image: url('../images/profile-bg.jpg') ;
    background-size: cover;    
    filter: brightness(.4);
    height: 100%;
}
#profile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#name{
    color: var(--main-bg-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 15px;
    border: 1.5px solid var(--secondary-bg-color);
    display: inline-block;
}
#name:hover{
    background-color: rgba(255, 255, 255,.2);
}
#tagline{
    text-transform: uppercase;
    color: skyblue;
    font-size: 1rem;
    text-align: center;
    margin-top: .1rem;
}
@media screen and (min-width:768px){
    #profile-wrapper{
        height: 80vh;
    }
    #name{
        font-size: 2rem;
    }
}

/*-------Education-------*/
#education-wrapper{
    height: 40vh;
    background-color: var(--main-bg-color);
}